@import url(http://webfonts-plus.herokuapp.com?family=Graphik);
@import url(fonts.css);

* {
  font-family: "Graphik";
  box-sizing: border-box;
}

.game.fixed {
  top: 0;
  left: 0;
  position: fixed;
  z-index: 1;
}

body {
  margin: 0;
}
.gray {
  color: gray;
}

header {
  background-color: #f8f8f8;
  padding: 128px 0;
  height: auto;
  padding-right: 64px;
}

header::after {
  content: "";
  display: table;
  clear: both;
}

h1 {
  font-size: 5rem;
  font-weight: 500;
  margin: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
}

h2 {
  font-size: 1.4rem;
  font-weight: 500;
  margin: 0;
  margin-bottom: 8px;
  text-transform: uppercase;
  letter-spacing: 2px;
}

article {
  margin: 64px 0;
}

p {
  font-size: 1.5rem;
  line-height: 1.6;
  color: #848484;
}

hgroup {
  float: right;
  display: block;
  width: 40rem;
}

section {
  margin-bottom: 128px;
  float: right;
  display: block;
  opacity: 0.2;
  transform: translateY(40px);
  transition: 0.2s ease;
  width: 40rem;
}

.active {
  opacity: 1;
  transform: translateY(0px);
}

aside {
  background-color: rgba(74, 144, 226, 0.09);
  padding: 24px;
  border-radius: 4px;
  margin: 80px 0;
}

.instruction {
  color: #4a90e2;
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 1.4;
}

.key {
  margin: 0 8px;
  border: 1px solid #4a90e2;
  padding: 6px 12px;
  border-radius: 4px;
  border-bottom: 4px solid #4a90e2;
}

.instruction + .instruction {
  margin-top: 16px;
}

.container {
  display: block;
  padding-right: 64px;
}

.container::after {
  content: "";
  display: table;
  clear: both;
}

.game {
  background: linear-gradient(to right, blue, green, blue);
  background-size: 300%;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 704px) {
  :root {
    font-size: 60%;
  }
  hgroup,
  section {
    width: 100%;
    margin-bottom: 0;
  }

  article {
    margin: 0px;
  }

  aside {
    margin: 24px 0;
  }

  header,
  .container {
    padding: 32px 16px;
  }

  header {
    padding-top: 128px;
  }
}

.game .instruction {
  color: white;
  opacity: 1;
  width: 100%;
  text-align: center;
}

.game .key {
  border-color: white;
}

.game {
  position: relative;
  padding: 16px;
}

.game .slide {
  will-change: opacity, transform;
  transform: translateY(-24px);
  opacity: 0;
  top: 0;
  left: 0;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  transition: opacity 0.01s ease, transform 0.01s ease;
}

.start .instruction {
  animation: blink 0.8s linear infinite;
}

@keyframes blink {
  0% {
    opacity: 0.6;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0.6;
  }
}

.game .slide.slide--show {
  opacity: 1;
  transform: translateY(0px);
  pointer-events: auto;
}

.bg--ready {
  background-color: green;
}

.bg--set {
  background-color: yellow;
}

.bg--go {
  background-color: red;
}

.timer {
  padding: 24px 32px;
  font-size: 18px;
  color: white;
  background-color: black;
  /* -webkit-text-fill-color: transparent; */
  /* -webkit-background-clip: text; */
  border: none;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: bold;
  margin-bottom: 16px;
}

.summary {
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
}

small {
  opacity: .4;
  margin-top: 16px;

}